# Attribute Information:
### - Age: age of the patient 
    - [years]
    
### - Sex: sex of the patient 
    - M: Male
    - F: Female
    
### - ChestPainType: chest pain type 
    - TA: Typical Angina
    - ATA: Atypical Angina
    - NAP: Non-Anginal Pain
    - ASY: Asymptomatic

### - RestingBP: resting blood pressure
    - [mm Hg]
    
### - Cholesterol: serum cholesterol 
    - [mm/dl]
    
### - FastingBS: fasting blood sugar 
    - 1: if FastingBS > 120 mg/dl
    - 0: otherwise
    
### - RestingECG: resting electrocardiogram results 
    - Normal: Normal
    - ST: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)
    - LVH: showing probable or definite left ventricular hypertrophy by Estes' criteria

### - MaxHR: maximum heart rate achieved 
    - [Numeric value between 60 and 202]
                                                
### - ExerciseAngina: exercise-induced angina
    - Y: Yes
    - N: No
                                                
### - Oldpeak: oldpeak = ST 
    - [Numeric value measured in depression]
                                                
### - ST_Slope: the slope of the peak exercise ST segment 
    - Up: upsloping
    - Flat: flat
    - Down: downsloping
                                                
### - HeartDisease: output class 
    - 1: heart disease
    - 0: Normal

In [ ]:
import pandas as pd

In [4]:
# Let us see what data we have for the dataset

df = pd.read_csv('heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [5]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [7]:
# See the # of attributes of each category

df.apply(lambda x: len(x.unique()))

Age                50
Sex                 2
ChestPainType       4
RestingBP          67
Cholesterol       222
FastingBS           2
RestingECG          3
MaxHR             119
ExerciseAngina      2
Oldpeak            53
ST_Slope            3
HeartDisease        2
dtype: int64